{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="form-container">
        <form method="POST">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" required>

            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" required>

            <label for="email">Email</label>
            <input type="email" name="email" id="email">

            <label for="studentname">Username</label>
            <input name="studentname" id="studentname" required>

            <label for="password1">Password</label>
            <input type="password" name="password1" id="password1" required>

            <label for="password2">Verify Password</label>
            <input type="password" name="password2" id="password2" required>

            <input type="submit" value="Register">
        </form>
    </div>
{% endblock %}