{% extends 'base.html' %}

{% block content %}
<h2>Edit Section</h2>
<form action="{{ url_for('section.edit_section', id=current_section['id']) }}" method="POST">
    <label for="section_name">Section Name:</label>
    <input type="text" id="section_name" name="section_name" value="{{ current_section['section_name'] }}" required>

    <label for="section_code">Section Code:</label>
    <input type="text" id="section_code" name="section_code" value="{{ current_section['section_code'] }}">

    <button type="submit">Save Changes</button>
</form>
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}
{% endblock %}
